@media (max-width: 576px) {
    body {
        line-height: 30px;
    }
    /* header */
    /* nav */
    nav {
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    nav > ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        gap: 10px;
    }
    nav > .nav-buttons > button {
        font-weight: 500;
        font-family: 'Rubik';
        background-color: transparent;
    }
    nav > .nav-buttons > button:first-child {
        color: var(--primary-text-color);
        border: none;
        margin: 0 5px;
    }
    nav > .nav-buttons > button:last-child {
        color: var(--primary-color);
        padding: 10px 35px;
        border: 1px solid var(--primary-color);
        border-radius: 40px;
        transition: all .2s;
    }
    nav > .nav-buttons > button:last-child:hover {
        background-color: var(--primary-color);
        color: var(--terteary-text-color);
    }
    /* banner */
    .banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner > div:last-child > img {
        width: 450px;
        margin: 0;
    }
    .banner > div:first-child {
        margin: 20px;
    }
    
    /* info section */
    .info-section {
        justify-content: space-between;
        padding: 30px 50px;
        margin: 50px 20px;
    }
    .info-section > .info {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .info-section > hr {
        height: 90px;
    }
    .info-section > .info > div:first-child {
        padding: 10px;
    }
    .info-section > .info > div:first-child > svg {
        width: 22px;
    }
    
    /* features section */
    .features-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 50px 50px;
    }
    .features-section > div:last-child {
        width: 400px;
    }
    .features-section >div:last-child > h1 {
        font-size: 35px;
    }

    /* plan section */
    .plan-section {
        padding-bottom: 80px;
    }
    .plan-section > .plan-container {
        flex-direction: column;
        gap: 30px;
        width: 80%;
    }
    .plan-section > .plan-container > .plan {
        padding: 50px 30px;
    }
    .plan-section > .plan-container > .plan > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* footer */
    footer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    footer > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer > div:nth-child(1) > div:first-child {
        width: 500px;
        text-align: center;
    }
    footer > div:nth-child(1) > div:last-child > p {
        color: var(--copyright-text-color);
    }
    footer > div:nth-child(1) > div:last-child > p > span {
        font-weight: 500;
    }
}