@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #F53855;
    --secondary-color: #F53838;
    --terteary-color: #FFECEC;
    --primary-text-color: #0B132A;
    --secondary-text-color: #4F5665;
    --terteary-text-color: #FFFFFF;
    --logo-text-color: #AAAAAA;
    --copyright-text-color: #AFB5C0;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F8F8F8;
    --primary-shadow-color: #F5383859;
    --secondary-shadow-color: #0d10250d;
    --text-shadow-color: #00000033;
}
body {
    font-family: 'Rubik';
    color: var(--primary-text-color);
    margin: 0;
    line-height: 30px;
}
p, ul > li, a {
    color: var(--secondary-text-color);
}
/* header */
/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto 80px auto;
    padding: 0 90px;
}
nav > .logo {
    display: flex;
    color: var(--logo-text-color);
    font-weight: 500;
    text-shadow: 0 5px 5px var(--text-shadow-color);
    gap: 5px;
}
nav > ul {
    display: flex;
    gap: 40px;
}
nav > ul > li {
    list-style: none;
}
nav > ul > li > a {
    text-decoration: none;

}
nav > .nav-buttons > button {
    font-weight: 500;
    font-family: 'Rubik';
    background-color: transparent;
}
nav > .nav-buttons > button:first-child {
    color: var(--primary-text-color);
    border: none;
    margin-right: 15px;
}
nav > .nav-buttons > button:last-child {
    color: var(--primary-color);
    padding: 10px 35px;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    transition: all .2s;
}
nav > .nav-buttons > button:last-child:hover {
    background-color: var(--primary-color);
    color: var(--terteary-text-color);
}
/* banner */
.banner {
    display: flex;
    justify-content: space-around;
}
.banner > div:first-child {
    width: 555px;
}
.banner > div:first-child > h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}
.banner > div:first-child > h1 > span {
    font-weight: 700;
}
.banner > div:first-child > p {
    color: var(--secondary-text-color);
    line-height: 30px;
    margin-bottom: 40px;
}
.banner > div:first-child > p > span {
    font-weight: 500;
}
.banner > div:first-child > button {
    font-family: 'Rubik';
    color: var(--terteary-text-color);
    font-weight: 700;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    padding: 20px 80px;
    box-shadow: 0 20px 20px var(--primary-shadow-color);
}

/* info section */
.info-section {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 15px 30px var(--secondary-shadow-color);
    padding: 30px 0;
    margin: 100px 230px;
}
.info-section > .info {
    display: flex;
    align-items: center;
    gap: 35px;
}
.info-section > hr {
    margin: 0;
    height: 125.57px;
    border: 1px solid #EEEFF2;
}
.info-section > .info > div:first-child {
    height: 24px;
    padding: 15px;
    background-color: var(--terteary-color);
    border-radius: 100%;
    /* color: var(--secondary-color); */
}
.info-section > .info > div:first-child > svg {
    stroke-width: 1.5px;
    stroke: var(--terteary-color);
    fill: var(--secondary-color);
}
.info-section > .info > div:last-child > h1 {
    margin: 0 0 8px;
    font-size: 25px;
    font-weight: 700;
}
.info-section > .info > div:last-child > p {
    margin: 0;
    font-size: 20px;
}

/* features section */
.features-section {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 100px;
}
.features-section > div:last-child {
    width: 427.88px;
}
.features-section >div:last-child > h1 {
    font-weight: 500;
    line-height: 50px;
    font-size: 35px;
}
.features-section >div:last-child > p {
    line-height: 30px;
}
.features-section >div:last-child > ul > li {
    display: flex;
    align-items: center;
    list-style: none;
    /* list-style: url(/ExamenSolutions/parcial1/assets/img/rounded-check.svg); */
    margin-bottom: 20px;
}
.features-section >div:last-child > ul > li > img {
    margin-right: 10px;
}

/* plan section */
.plan-section {
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}
.plan-section > div:first-child {
    width: 555px;
    margin-bottom: 40px;
}
.plan-section > div:first-child > h1 {
    text-align: center;
    font-weight: 500;
    font-size: 35px;
}
.plan-section > div:first-child > p {
    text-align: center;
}
.plan-section > .plan-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
.plan-section > .plan-container > .plan {
    border: 2px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 80px 100px;
    background-color: var(--primary-bg-color);
    transition: all 0.2s;
}
.plan-section > .plan-container > .plan:hover {
    border: 2px solid var(--secondary-color);
}
.plan-section > .plan-container > .plan > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-section > .plan-container > .plan > div:first-child > img {
    width: 144.9px;
}
.plan-section > .plan-container > .plan > div:first-child > h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
}
.plan-section > .plan-container > .plan > div:first-child > ul {
    padding-left: 0;
}
.plan-section > .plan-container > .plan > div:first-child > ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
}
.plan-section > .plan-container > .plan > div:first-child > ul > li > svg {
    color: #2FAB73;
    margin-right: 30px;
}
.plan-section > .plan-container > .plan > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-section > .plan-container > .plan > div:last-child > h1 {
    font-size: 25px;
    font-weight: 500;
}
.plan-section > .plan-container > .plan > div:last-child > h1 > span {
    font-weight: 400;
}
.plan-section > .plan-container > .plan > div:last-child > button {
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 700;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    color: var(--secondary-color);
    background-color: transparent;
    padding: 10px 55px;
    transition: all .2s;
}
.plan-section > .plan-container > .plan > div:last-child > button:hover {
    color: var(--terteary-text-color);
    background-color: var(--secondary-color);
    box-shadow: 0 15px 15px var(--primary-shadow-color);
}

/* footer */
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-bg-color);
}
footer > div:nth-child(1) > div:first-child {
    width: 340px;
}
footer > div:nth-child(1) > div:first-child > .logo {
    display: flex;
    gap: 10px;
}
footer > div:nth-child(1) > div:first-child > .logo > h1 {
    font-size: 20px;
    font-weight: 500;
}
footer > div:nth-child(1) > div:first-child > .logo > h1 > span {
    font-weight: 700;
}
footer > div:nth-child(1) > div:first-child > p > span {
    font-weight: 500;
}
footer > div:nth-child(1) > div:last-child > .footer-social {
    display: flex;
    margin: 40px 0 20px;
    gap: 20px;
}
footer > div:nth-child(1) > div:last-child > .footer-social > div {
    height: 24px;
    background-color: var(--primary-bg-color);
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0 13px 18px #11132314;
    transition: all .2s;
}
footer > div:nth-child(1) > div:last-child > .footer-social > div:hover {
    transform: rotate(30deg);
}
footer > div:nth-child(1) > div:last-child > .footer-social > div > svg {
    stroke-width: 1px;
    stroke: #FFFFFF;
    fill: var(--secondary-color);
}
footer > div:nth-child(1) > div:last-child > p {
    color: var(--copyright-text-color);
}
footer > div:nth-child(1) > div:last-child > p > span {
    font-weight: 500;
}
footer > .footer-list-container {
    display: flex;
    gap: 80px;
}
footer > .footer-list-container > .footer-list > h3 {
    font-size: 18px;
    font-weight: 500;
}
footer > .footer-list-container > .footer-list > ul {
    padding: 0;
}
footer > .footer-list-container > .footer-list > ul > li {
    list-style: none;
    margin-bottom: 10px;
}
footer > .footer-list-container > .footer-list > ul > li > a {
    text-decoration: none;
}