@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --star-color: #F3CD03;
    --second-text-color: #737373;
    --primary-text-color: #96BB7C;
    --text-color: #252B42;
    --secondary-bg-color: #FFF2F3;
    --border-color: #E6E6E6;

}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* testimonials section */
#testimonials-section {
    padding: 80px 192px;
    height: 685px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* title */
.title-testimonials {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-testimonials > h4 {
    color: var(--primary-text-color);
    margin: 0 0 10px;
}
.title-testimonials > h1 {
    font-size: 40px;
    color: var(--text-color);
    margin: 0;
}
.title-testimonials > p {
    color: var(--second-text-color);
    font-size: 14px;
}

/* testimonials */
.testimonials {
    display: flex;
    justify-content: space-evenly;
}
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    text-align: center;
    height: 378px;
}
.testimonial > img {
    border-radius: 100%;
}
.testimonial > p {
    font-size: 14px;
    font-weight: 400;
    color: var(--second-text-color);
}
.testimonial > div.calification > svg {
    stroke: var(--star-color);  
}
.testimonial > div.calification > svg.fill-star {
    fill: var(--star-color);
}
.testimonial > h3 {
    color: var(--text-color);
    margin: 0;
    font-size: 1em;
}
.testimonial > h4 {
    color: var(--second-text-color);
    margin: 0;
    font-size: 1em;
}

/* newsletter section */
#newsletter-section {
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 504px;
    padding: 160px 0px;
}

/* title */
.title-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    height: 116px;
}
.title-newsletter > h4 {
    color: var(--primary-text-color);
    font-size: 14px;
    margin: 0;
}
.title-newsletter > h3 {
    color: var(--text-color);
    font-size: 1.5em;
    margin: 0;
}
.title-newsletter > p {
    color: var(--second-text-color);
    font-size: 14px;
    margin: 0;
    text-align: center;
}
/* email */
.email {
    display: flex;
    align-items: center;
}
.email > input {
    width: 571px;
    height: 58px;
    border: 1px solid var(--border-color);
    padding: 0 20px 0;
    font-family: 'Montserrat', sans-serif;
}
.email > button {
    width: 117px;
    height: 60px;
    background-color: var(--primary-text-color);
    color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 0 5px 5px 0;
    font-family: 'Montserrat', sans-serif;
}

/* responsive */
@media (max-width: 992px) {
    #testimonials-section {
        padding: 60px 122px;
        height: 685px;
        display: flex;
        justify-content: space-around;
    }
    .title-testimonials {
        width: 75%;
    }
    .testimonial {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }
    .testimonials {
        justify-content: space-around;
    }
    #newsletter-section {
        height: 424px;
        padding: 70px 0px;
    }
    .title-newsletter {
        width: 40%;
    }
    .title-testimonials > h1 {
        font-size: 35px;
    }
    .title-newsletter > h3 {
        font-size: 1.4em;
        margin: 0;
    }
}
@media (max-width: 768px) {
    .title-testimonials > h1 {
        font-size: 35px;
    }
    .testimonial {
        display: flex;
        width: 40%;
    }
    .email > input {
        width: 501px;
    }
    .email > button {
        width: 117px;
    }
}
@media (max-width: 576px) {
    #testimonials-section {
        padding: 30px 92px 60px;
        height: 685px;
        display: flex;
        justify-content: space-around;
    }
    .title-testimonials {
        width: 90%;
    }
    .title-testimonials > h1 {
        font-size: 27px;
    }
    .testimonials {
        justify-content: space-between;
    }
    .title-newsletter {
        width: 50%;
    }
    .email > input {
        width: 331px;
        height: 48px;
    }
    .email > button {
        width: 97px;
        height: 50px;
    }
}