#container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 60px;
}
.product {
    border-radius: 13px;
    padding: 30px 20px;
    box-shadow: 1px 3px 5px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product > img {
    width: 150px;
}
.product > hr {
    width: 80px;
    margin: 0;
    border: none;
    height: 3px;
    background-color: darkgreen;
}