@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
    --danger-color: #E74040;
    --text-color: #737373;
    --primary-text-color: #96BB7C;
}
/* GENERAL */
body {
    font-family: 'Montserrat', sans-serif;
}
.item {
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto;
}
.item:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

/* images */
.images {
    position: relative;
}
.rectangle {
    position: absolute !important;
    z-index: -1;
}
.img-principal {
    width: 352px;
    top: 0;
    position: relative;
}
.aux1 {
    position: absolute;
    top: 130px;
    left: -80px;
}
.aux2 {
    position: absolute;
    top: 140px;
    left: 290px;
}
.aux3 {
    position: absolute;
    top: 300px;
    left: -40px;
}

/* video */
.video {
    position: relative;
}
.video > video {
    border-radius: 20px;
    width: auto;
    height: 315px;
}
#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 35%;
    left: 40%;
    width: 92px;
    height: 92px;
    background-color: var(--primary-text-color);
    border-radius: 100%;
    color: #fff;
}
#circle > i {
    width: 19px;
}

/* text */
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
}
.text > hr {
    border: none;
    height: 7px;
    width: 94px;
    margin: 0;
    background-color: var(--danger-color);
}
.text > h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    font-family: 'Newsreader', sans-serif;
}
.text > p {
    color: var(--text-color);
    font-size: 14px;
    margin: 0 0 30px;
    font-family: 'Inter', sans-serif;
}
.text > a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 14px;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .item {
        display: flex;
        flex-direction: column;
    }
    .img-principal {
    width: 250px;
}
}