@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --main-btn: #7853f1;
  --hover-btn: #563fa3;
  --hover-transparent: #ebebeb;
  --light-text: #fff;
  --dark-text: #000;
  --psyduck-color: #d79920;
  --wiggly-color: #b5878f;
  --snorlax-color: #09367a;
  --plan-color: #f53838;
  --shadow-plan-color: #f5383899;
}

main > div {
  box-shadow: 0 8px 20px;
  padding: 60px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* p1 */
.p1 > div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.btn-style {
  color: var(--light-text);
  background-color: var(--main-btn);
  border: 0;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 1.3em;
  height: 48px;
  font-weight: 600;
  transition: all .2s;
  padding: 0 20px;
}
.btn-style:hover {
  background-color: var(--hover-btn);
}
.btn-transparent {
  color: var(--dark-text);
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 120px;
  height: 48px;
  font-weight: 600;
  transition: all .2s;
}
.btn-transparent:hover {
  background-color: var(--hover-transparent);
}

/* p2 */
.p2 > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.poke {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 7px 10px;
  transition: all .2s;
}
.poke:hover {
  background-color: var(--hover-transparent);
}
.poke > img {
  width: 350px;
  border-radius: 4px;
}

/* p3 */
.p3 > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 7px 10px;
}
.video > video {
  border-radius: 10px;
  height:300px;
}

/* p4 */
.p4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}
.p4 > div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.plan {
  border: 2px solid #DDDDDD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 80px 100px;
  transition: all 0.2s;
}
.plan:hover {
  border: 2px solid var(--plan-color);
}
.plan > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.plan > div:first-child > img {
  width: 144.9px;
}
.plan > div:first-child > h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 25px;
}
.plan > div:first-child > ul {
  padding-left: 0;
}
.plan > div:first-child > ul > li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
}
.plan > div:first-child > ul > li > img {
  margin-right: 30px;
}
.plan > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan > div:last-child > h1 {
  font-size: 25px;
  font-weight: 500;
}
.plan > div:last-child > h1 > span {
  font-weight: 400;
}
.plan > div:last-child > button {
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 700;
  border: 2px solid var(--plan-color);
  border-radius: 50px;
  color: var(--plan-color);
  background-color: transparent;
  padding: 10px 55px;
  transition: all .2s;
}
.plan > div:last-child > button:hover {
  color: var(--light-text);
  background-color: var(--plan-color);
  box-shadow: 0 15px 15px var(--shadow-plan-color);
}
