@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-color: #252B42;
    --second-text-color: #737373;
    --primary-color: #FF7B47;
    --secondary-color: #0D5C63;
    --light-text-color: #FFFFFF;
    --primary-bg-color: #FAFAFA;
    --second-bg-color: #FFFFFF;
    --third-bg-color: #17213C;
    --primary-icon-color: #8EC2F2;

}
body {
    font-family: 'Montserrat';
    margin: 0;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
}
p {
    color: var(--second-text-color);
    font-weight: 500;
}
h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

/* header */
header {
    background: no-repeat url(/HomeWorks/hw6/posible-ans/assets/img/header-bg.svg);
    background-size: contain;
    position: relative;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 30px 45px 250px;
}
nav > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 530px;
}
nav > div:first-child > .logo > h1 {
    margin: 0;
}
nav > div:first-child > ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 280px;
    gap: 10%;
}
nav > div:first-child > ul > li {
    list-style: none;
    font-weight: 600;
    font-size: 0.9rem;
}
nav > div:first-child > ul > li > a {
    color: var(--second-text-color);
    text-decoration: none;
}

/* header container */
.header-container {
    width: 509px;
    height: 418px;
    margin: 160px 0 0 250px;
    padding-bottom: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-container > h1 {
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    margin: 0;
}
.header-container > p {
    width: 376px;
        
    line-height: 30px;
    margin: 0;
    font-weight: 500;
}
.header-container > .header-btns {
    display: flex;
    justify-content: space-between;
    width: 349px;
}
.header-container > .header-btns > button {
    height: 48px;
    border-radius: 37px;
    padding: 10px 36px 10px 36px;
    font-weight: 700;
    font-family: 'Montserrat';
}
.header-container > .header-btns > button:first-child {
    width: 185px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border: none;
}
.header-container > .header-btns > button:last-child {
    width: 154px;
    background: none;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}
.header-container > .header-btns > button:last-child:hover {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
    transition: .3s;
}

/* info items */
.info-items {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: absolute;
    bottom: -120px;
    width: 100%;
    /* display: grid;
    grid-template-columns: 18% 18% 18%; */
}
.info-items > .info-item {
    width: 229px;
    padding: 35px 50px 10px;
    box-shadow: 0px 13px 19px 0px #00000012;
    background-color: var(--primary-bg-color);
    transition: all .3s;
}
.info-items > .info-item > h3 {
    font-size: 24px;
    line-height: 32px;
}
.info-items > .info-item > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.info-items > .info-item:hover {
    background-color: var(--secondary-color);
    transition: .3s;
}
.info-items > .info-item:hover img {
    filter: hue-rotate(60deg) brightness(400%);
    transition: .3s;
}
.info-items > .info-item:hover h3 {
    color: var(--light-text-color);
    transition: .3s;
}
.info-items > .info-item:hover p {
    color: var(--light-text-color);
    transition: .3s;
}

/* experience section */
#experience-section {
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}
#experience-section > div:first-child {
    width: 610px;
    text-align: center;
}
#experience-section > div:first-child > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.experience-items {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.experience-items > .experience-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-bg-color);
    padding: 40px 40px 30px;
}
.experience-items > .experience-item > h1 {
    font-size: 40px;
    font-weight: 700;
}
.experience-items > .experience-item > p {
    font-weight: 700;
    margin: 0;
}

/* advice section */
#ads-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 0 100px;
}
#ads-section > div:first-child {
    text-align: center;
    width: 470px;
}
#ads-section > div:first-child > p {
    font-size: 14px;
}
#ads-section > .ads-items {
    display: flex;
    gap: 40px;
}
#ads-section > .ads-items > .ads-item {
    background-color: var(--second-bg-color);
    width: 240px;
    height: 360px;
    text-align: center;
}
#ads-section > .ads-items > .ads-item > div {
    padding: 20px 40px;
    text-align: left;
}
#ads-section > .ads-items > .ads-item > div > h5 {
    font-size: 16px;
    font-weight: 700;
}
#ads-section > .ads-items > .ads-item > div > p {
    font-size: 14px;
    font-weight: 500;
}

/* footer section */
/* footer contact */
footer > div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
footer > div:first-child > div > h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
footer > div:first-child > div > p {
    font-size: 14px;
}
footer > div:first-child > button {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    height: 58px;
    width: 160px;
}
/* footer main */
.footer-main {
    background-color: var(--third-bg-color);
    color: var(--light-text-color);
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
}
.footer-main > .footer-list > h5 {
    font-size: 16px;
    font-weight: 700;
}
.footer-main > .footer-list > ul {
    padding: 0;
    margin: 0;
}
.footer-main > .footer-list > ul > li {
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.footer-main > .footer-list > ul > li > a {
    text-decoration: none;
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: 500;
}
.footer-main > .footer-list > ul > li > svg {
    color: var(--primary-icon-color);
    stroke: 1px;
    margin-right: 5px;
}
/* footer social */
.footer-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
}
.footer-social > div:first-child > h6 {
    font-size: 14px;
    color: var(--second-text-color);
    font-weight: 600;
}
.footer-social > div:last-child {
    display: flex;
    justify-content: space-evenly;
    width: 236px;
}
.footer-social > div:last-child > .feather-facebook {
    background-color: #335BF5;
    fill: #FFFFFF;
    color: #FFFFFF;
    stroke-width: .1px;
}
.footer-social > div:last-child > .feather-instagram {
    color: #E51F5A;
}
.footer-social > div:last-child > .feather-twitter {
    fill: #21A6DF;
    color: #21A6DF;
}
.footer-social > div:last-child > .feather-youtube {
    fill: #E42F08;
    color: #FFFFFF;
}