@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #426B1F;
}


body {
    font-family: 'Inter Tight', Arial, Helvetica, sans-serif;
}
header {
    margin: auto 70px;
    /*
    margin: top right bottom left 
    margin: top right-left bottom
    margin: top-bottom right-left
    */
}.logo {
    color: var(--primary-color);
}
.btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
nav > div {
    display: flex;
    align-items: center;
}
ul {
    display: flex;
}
ul > li {
    list-style: none;
    margin-right: 45px;
}
nav {
    display: flex;
    justify-content: space-between;
}